.cards-relatorio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    margin-top: 20px;
}

.card-info,
.card {
    background: white;
    padding: 22px;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
}

.card-info {
    border-left: 6px solid #173b7a;
}

.card-info.money {
    border-left-color: #198754;
}

.card-info p {
    margin: 0;
    font-weight: bold;
    color: #555;
}

.card-info h2 {
    margin: 10px 0 0;
    font-size: 30px;
    color: #173b7a;
}

.card-info.money h2 {
    color: #198754;
}

.card {
    margin-top: 20px;
}

.topo-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo-card h2 {
    color: #173b7a;
    margin: 0;
}

button {
    background: #173b7a;
    color: white;
    border: none;
    padding: 9px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 18px;
}

th {
    background: #173b7a;
    color: white;
}

th,
td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.modal-relatorio {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.45);
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.modal-relatorio-box {
    width: 800px;
    max-width: 95%;
    background: white;
    border-radius: 14px;
    padding: 25px;
    box-shadow: 0 15px 40px rgba(0,0,0,.3);
}

.modal-relatorio-box h2 {
    color: #173b7a;
    margin-top: 0;
}